.layout(@justify,@align){
    display: flex;
    justify-content: @justify;
    align-items: @align;
}

.custBtn(){
   
        background-color: #750E98;
        border: none;
        border-radius: 50%;
        color: white;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        

        &:hover{
            background-color: #FFC300;
            color:750E98;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }
      
}